# Dados
data/raw_fits/
data/telemetry/
data/laps/
data/metadata/

# Bancos de Dados locias
data/*.db
*.sqlite
*.sqlite3

# Credenciais e Tokens
tokens.py
strava_tokens.json

# Ambiente Virtual
.venv/
__pycache__/

# TO-DOs e Anotações
DO-TO.txt